@import url('http://fonts.googleapis.com/css?family=Raleway:400,700');
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 85%;
}
#page {
  width: 100%;
  text-align: center;
  position: relative;
  padding: 20px 0;
}
.container {
  position: relative;
  display: inline-block;
  width: 420px;
  height: 240px;
  padding: 20px 30px 40px 30px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #999;
}
.container h3 {
  margin: 0 0 10px 0;
}
.button-row {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}
.button {
  display: inline-block;
  width: 120px;
  font-size: 0.9rem;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  padding: 6px 15px;
  margin: 0 5px 10px 0;
  border: none;
  background: #1f87ba;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0) inset;
  border-radius: 0;
  transition: 0.2s background, 0.2s box-shadow;
  white-space: pre;
}
.button:hover {
  text-decoration: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5) inset;
  background-color: #30a4dc;
  color: #fff;
}
.button:active {
  text-decoration: none;
  background-color: #18688e;
  color: #fff;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3) inset;
}
.button:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}
.button span.toggletext {
  display: block;
}
.button span.animatingtext {
  display: none;
}
.button.disabled {
  background: #666;
  color: #aaa;
  pointer-events: none;
}
.button.disabled:hover,
.button.disabled:active,
.button.disabled:focus {
  background: #666;
  box-shadow: none;
  border: none;
}
.button.disabled span.toggletext {
  display: none;
}
.button.disabled span.animatingtext {
  display: block;
}
.target {
  position: absolute;
  bottom: 20px;
  background: #eee;
  width: 400px;
  height: 100px;
  padding: 10px;
  border-radius: 3px;
  margin: 0;
  text-align: center;
  color: #333;
}
.guide {
  position: absolute;
  opacity: 0.2;
  bottom: 20px;
  background: #eee;
  border: 1px solid red;
  width: 400px;
  height: 100px;
  padding: 10px;
  border-radius: 3px;
  margin: 0;
  text-align: center;
  color: #333;
}
.hidden {
  display: none;
}
/* common properties */
.container.entrances .target {
  opacity: 0;
}
.container.exits .target.animated {
  opacity: 0;
}
/* set animations */
.guide {
  display: none !important;
}
