/* Basic Fades */
@keyframes tdFadeIn {
    0% { 
        opacity: 0;
    }

    100% { 
        opacity: 1;
    }
}

@keyframes tdFadeOut {
    0% { 
        opacity: 1;
    }

    100% { 
        opacity: 0;
    }
}

.tdFadeIn {
    animation-name: tdFadeIn;
}
.tdFadeOut {
    animation-name: tdFadeOut;
}
