@import url('http://fonts.googleapis.com/css?family=Lato:400,900italic,700');


@red: #f05a67;
@red-l1: #f69c97;
@red-d1: #d3505a;
@red-d2: darken(@red-d1,10%);

@blue: #30a4dc;
@blue-l1: lighten(@blue,10%);
@blue-l2: lighten(@blue,20%);
@blue-d1: darken(@blue,10%);
@blue-d2: darken(@blue,20%);

@green: #b2cf65;
@green-l1: lighten(@green,10%);
@green-d1: darken(@green,10%);
@green-d2: darken(@green,10%);
@green-d3: darken(@green,20%);

@yellow: #ecd05d;
@yellow-l1: lighten(@yellow,10%);
@yellow-l2: lighten(@yellow,20%);
@yellow-d1: darken(@yellow,10%);
@yellow-d2: darken(@yellow,20%);

.font-default { 
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif; 
}

input, select, button, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	.font-default;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}

a {
	color: @green-d2;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 85%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	.font-default;
	display: table;
}

/* main style start */
#page {
	width: 100%;
	text-align: center;
	position: relative;
	padding: 20px 0;
	vertical-align: middle;
	display: table-cell;
}

h1 {
	font-size: 4em;
	font-weight: 900;
	margin: 30px 0;
	font-style: italic;
}

h2 { 
	margin: 0 0 15px 0;
}

.container {
	position: relative;
	display: inline-block;
	width: 400px;
	height: 240px;
	padding: 20px 30px 40px 30px;
	margin: 0 auto 10px auto;
	text-align: center;
	border: 1px solid #ddd;
}

.button-row {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}

select.animationlist {
	width: 200px;
	display: inline-block;
	height: 40px;
	padding: 10px 15px;
	margin: 0 5px 0 0;
	background: url('../images/arrow-down.svg') no-repeat right center;
	border: none;
	box-shadow: 0 0 0 1px #aaa inset;
	line-height: 22px;
	vertical-align: top;
	font-size: 1rem;

	&:focus {
		box-shadow: 0 0 0 2px @green inset;
		text-decoration: none;
		outline: none;
	}

	optgroup {
		.font-default;
		padding: 5px 0;
		text-indent: 5px;
		border-bottom: 1px solid #aaa;
		&:last-child {
			border: none;
		}
	}
	option {
		.font-default;
		padding: 5px;
		text-indent: 12px;
	}
}

button {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 40px;
	padding: 6px 15px;
	margin: 0 5px 10px 0;
	border: none;
	background: @green-d1;
	font-size: 1rem;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-shadow: 0 0 0 2px rgba(255,255,255,0) inset;
	border-radius: 0;
	transition: 0.2s background, 0.2s box-shadow;
	white-space: pre;

	&:hover {
		text-decoration: none;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.5) inset;
		background-color: @green;
		color: #fff;
	}

	&:active {
		text-decoration: none;
		background-color: @green-d3;
		color: #fff;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.3) inset;
	}

	&:focus {
		text-decoration: none;
		outline: none;
		color: #fff;
	}

	&.disabled {
		background: #aaa;
		color: #fff;
		pointer-events: none;

		&:hover, &:active, &:focus {
			background: #666;
			box-shadow: none;
			border: none;
		}
	}

}

.target {
	position: absolute;
	bottom: 50px;
	background: #eee;
	width: 400px;
	height: 100px;
	box-sizing: border-box;
	padding: 15px 20px;
	border-radius: 3px;
	margin: 0;
	text-align: center;
	font-size: 1rem;
	color: #333;
}

.guide {
	.target;
	opacity: 0.2;
	border: 1px solid red;
}

.hidden {
	display: none;
}

.credits {
	color: #999;
	margin: 10px 0;

	.shakr-logo {
		display: block;
		width: 48px;
		height: 48px;
		margin: 0 auto;
		background: url('../images/shakr-feathers.svg') no-repeat center center;
		background-size: 48px 48px;
	}

}

.container.entrances .target {
	opacity: 0;
}
.container.exits .target.animated {
	opacity: 0;
}

/* set animations */
.guide {
	 display: none !important;
}

